:host-context .nb-theme-default li {
    color: #192038;
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    float: left;
}

:host-context .li{
    color: #192038;
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    float: left;
}

.textbg{
    background-color: #F0F0F0;
}

.clientinfo{
    overflow: scroll; 
    height: 708px;
}
